classic/rise/static/main.css
classic/rise/static/reveal.js/
classic/rise/static/reveal.js-chalkboard/
classic/build/
classic/dist/
classic/rise.egg-info/
classic/rise/__pycache__/
rise-reveal/export/
doc/_build/
.ipynb_checkpoints/
node_modules*
vendors-node_modules_*
packages_rise-reveal*
@jupyterlab
export/
rise/nbextension/reveal.js
rise/nbextension/reveal.js-chalkboard
__pycache__
