include LICENSE.md
include README.md
include pyproject.toml
include package.json
include install.json
include ts*.json
include yarn.lock

recursive-include jupyter-config *.json

graft rise/labextension
graft rise/nbextension

# Javascript files
graft app
graft packages
prune **/node_modules
prune lib
prune binder

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
