include LICENSE.md
include README.md
include package.json
include rise/nbextension/main.js
include rise/nbextension/main.css
include rise/nbextension/rise.png
include rise/nbextension/rise.yaml
include rise/nbextension/README.md
recursive-include jupyter-config *.json
recursive-include rise/nbextension/reveal.js *
recursive-include rise/nbextension/reveal.js-chalkboard *
