/* Overrides of notebook CSS for static HTML export */
.reveal {
overflow-y: auto;
overflow-x: hidden;
}
.reveal pre {
font-size: 90%;
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
.reveal section img {
border: 0px solid black;
box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}
.reveal .slides {
text-align: left;
font-size: 160%;
/*width: 1366px !important;*/
}
.reveal.fade {
opacity: 1;
}
.reveal .slide-number {
  right: 3.8em;
  bottom: 3.9em;
  font-size: 100%;
}
.reveal blockquote p:first-child, .reveal blockquote p:last-child {
display: inherit;
}
div.code_cell {
background-color: transparent;
}
div.prompt {
font-size: 90%;
}
div.output_prompt {
margin-top: 2px;
}
div.output_area pre {
font-size: 90%;
}
.rendered_html p {
text-align: inherit;
}
div#notebook {
overflow-x: hidden;
}
.progress {
margin-bottom: 0px;
}
/* fix for firefox issue in IPython */
.CodeMirror {
max-width: 960px !important;
/*or 1240px*/
}
.hmode {
display:none !important;
}
.navbar-inner {
opacity: 0.5;
transition: opacity 0.5s ease-in-out;
-webkit-transition: opacity 0.5s ease-in-out;
}
.navbar-inner:hover {
opacity: 1.0;
}
.toolbar {
padding: 10px;
}
.my-btn-close {
  position:fixed;
  top: 0.3em;
  left: 0.3em;
  opacity: 0.8;
  color: darkblue;
}
.my-btn-close:hover {
  color: #0000f1;
}
.cell li {
  line-height: 200%;
}

// Bryan-derived style
.rendered_html {
    font-family: "proxima-nova", helvetica;
}

.rendered_html h1 {
    color: #015C9C;
}

.rendered_html h2 {
    color: #26465D;
}

.rendered_html h3 {
    color: #002845;
}

.rendered_html p.title {
    font-size: 300%;
}

.rendered_html p.subtitle { 
    font-size: 200%;
}



