.transition-all {
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
.rise-enabled {
  background-color: #fff;
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  /* Reveal-specific */
  /* Notebook-specific */
}
.rise-enabled .reveal {
  /* element-overrides */
}
.rise-enabled .reveal.fade {
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  opacity: 1;
}
.rise-enabled .reveal pre {
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  font-size: 90%;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.rise-enabled .reveal section img {
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  border: 0px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  -webkit-transition: none;
          transition: none;
}
.rise-enabled .reveal blockquote p:first-child,
.rise-enabled .reveal blockquote p:last-child {
  display: inherit;
}
.rise-enabled .reveal .slides {
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  text-align: left;
  font-size: 160%;
}
.rise-enabled .reveal .slide-number {
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  right: 3.1em;
  bottom: 3.9em;
  font-size: 100%;
}
.rise-enabled .reveal .controls .navigate-left,
.rise-enabled .reveal .controls .navigate-left.enabled {
  border-right-color: #727272;
}
.rise-enabled .reveal .controls .navigate-left.enabled:hover,
.rise-enabled .reveal .controls .navigate-left.enabled.enabled:hover {
  border-right-color: #dfdfdf;
}
.rise-enabled .reveal .controls .navigate-right,
.rise-enabled .reveal .controls .navigate-right.enabled {
  border-left-color: #727272;
}
.rise-enabled .reveal .controls .navigate-right.enabled:hover,
.rise-enabled .reveal .controls .navigate-right.enabled.enabled:hover {
  border-left-color: #dfdfdf;
}
.rise-enabled .reveal .controls .navigate-up,
.rise-enabled .reveal .controls .navigate-up.enabled {
  border-bottom-color: #727272;
}
.rise-enabled .reveal .controls .navigate-up.enabled:hover,
.rise-enabled .reveal .controls .navigate-up.enabled.enabled:hover {
  border-bottom-color: #dfdfdf;
}
.rise-enabled .reveal .controls .navigate-down,
.rise-enabled .reveal .controls .navigate-down.enabled {
  border-top-color: #727272;
}
.rise-enabled .reveal .controls .navigate-down.enabled:hover,
.rise-enabled .reveal .controls .navigate-down.enabled.enabled:hover {
  border-top-color: #dfdfdf;
}
.rise-enabled .reveal .progress {
  margin-bottom: 0;
}
.rise-enabled .reveal .progress span {
  background: #727272;
}
.rise-enabled .reveal .reveal-skip,
.rise-enabled .reveal .reveal-notes {
  display: none;
}
.rise-enabled #notebook {
  overflow: hidden;
}
.rise-enabled #notebook.reveal {
  padding-top: 0px;
}
.rise-enabled #notebook-container {
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  background-color: transparent;
  box-shadow: none;
  width: 100%;
}
.rise-enabled.ctb_global_show .ctb_hideshow.ctb_show {
  display: none;
}
.rise-enabled.ctb_global_show .ctb_show ~ .text_cell_render {
  border-style: none;
}
.rise-enabled .celltoolbar {
  height: inherit;
}
.rise-enabled .celltoolbar select,
.rise-enabled .celltoolbar .btn {
  height: inherit;
  font-size: inherit;
}
.rise-enabled .widget-area .form-control,
.rise-enabled .widget-area .dropdown-menu,
.rise-enabled .widget-area .btn {
  font-size: inherit;
}
.rise-enabled .widget-area .dropdown-menu {
  margin: 0px;
  /* cancel the settings from reveal */
}
.rise-enabled .cell li {
  line-height: 160%;
}
.rise-enabled .text_cell {
  font-size: 160%;
}
.rise-enabled .text_cell .prompt {
  display: none;
}
.rise-enabled .text_cell.rendered .rendered_html {
  overflow-y: hidden;
}
.rise-enabled .prompt {
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  font-size: 90%;
}
.rise-enabled .output_prompt {
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  margin-top: 2px;
}
.rise-enabled .output_subarea {
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  margin-top: 0.05em;
}
.rise-enabled .CodeMirror {
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  font-size: 100%;
  max-width: 960px !important;
  /* fix for firefox issue in IPython, 1240px */
}
.rise-enabled a.anchor-link {
  display: none;
}
.rise-enabled html {
  overflow-y: auto;
}
.rise-enabled .dialog kbd {
  padding: .1em .6em;
  border: 1px solid #ccc;
  font-size: 11px;
  background-color: #f7f7f7;
  color: #333;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  border-radius: 3px;
  display: inline-block;
  margin: 0 .1em;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.4;
  white-space: nowrap;
}
.rise-enabled #header {
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  top: -200px;
  opacity: 0;
}
.rise-enabled #site {
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  height: 100%;
}
.rise-enabled #ipython-main-app {
  position: static;
}
#header {
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  opacity: 1;
  top: 0px;
}
#notebook-container {
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
#notebook {
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
