/* this is for styling the overlay
 * when using header / footer and backimage
 *
 * see metadata in notebook
 */

#rise-header {
    margin: 10px;
    left: 10%;
}

#rise-footer {
    margin: 10px;
    right: 10%;
}

#rise-backimage {
    opacity: 0.20;
}

/* TODO: maybe we need to port this to main.css?  */
.reveal img {
    max-width: 100%;
}