/* when setting overlay,
 * (see metadata in notebook)
 *
 * it's your responsability to put all the pieces where you want
 * even in the middle if that was what you wanted
 *
 */

div.myheader {
    position: absolute;
    margin: 30px;
    left: 8%;
    background: blue;
    font-size: xx-large;
}

div.myfooter {
    position: absolute;
    background: red;
    font-size: 120%;
    right: 10%;
}
